.row {
    min-width:100% !important;
}

.column,
.columns {
    min-height: 1px;
}

.columns.small-12,
.column.small-12 {
    max-width: 62.5rem;
}

body {
    min-width: 840px;
    background: url("../images/background-pattern.png");
}

span {
    color: #415C71;
}

i {
    color: #2E2F41;
}

.content {
    margin-bottom: 70px;
}

.event-small{
    display: block;
    border: rgba(51, 51, 51, 0) 1px solid;
    border-radius: 5px;
}

.view-event-subscriber:hover {
    background-color: #F1F1F1;
}

.event-small:not(:hover) .event-small-controls {
    display: none;
}

.event-small hr {
    margin-top: 2px;
}

.event-small-img-wrapper img{
    height: 100%;
}

.event-control-btns {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

.event-control-btns li{
     margin-left: 3px;
}

.event-control-btns a{
    margin-bottom: 0;
}

.event-name {
    font-size: 18px;
    color: #008cba;
}

.registration-form{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 400px;
}

i.fi-male, i.fi-female{
    font-size: 30px;
}


.login-form{
    width: 400px;
}

.logout-btn{
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.login-icon{
    margin-top: 10%;
    margin-bottom: 5%;
}

.small-event-info span {
    font-size: 0.85em;
}

.small-event-info i {
    font-size: 1.25em;
}

.event-small-description {
    -webkit-transition : height 300ms;
    min-height: 100px !important;
}

.view-event-control-btn {
   margin-bottom: 0;
}

.view-event-subscriber {
    border: transparent 1px solid;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.view-event-subscriber-name {
    margin-top: 10px;
}

.view-event-name {
    margin-top: 10px;
}

.view-event-name span {
    font-size: 2em;
}

.add-event-btn {
    font-size: 30px;
}

.add-event-btn i{
    font-size: 15px;
    color: black;
    opacity: 0.5;
    cursor: pointer;
}

.add-event-btn i:hover{
    opacity: 1;
}

.picker__footer button {
    color: black;
    font-weight: bold;
}

.create-event-name,
.edit-event-name {
    margin: 0 !important;
}

input.error {
    border: red 1px solid;
    background-color: rgba(233, 8, 17, 0.05);
}

.event-small-controls {
    position: absolute;
    right: 0;
    color: #D9455F;
}

.event-small-controls ul{
    margin-left: 0 !important;
}

.event-small-controls a {
    cursor: pointer;
    color: black;
    opacity: 0.5;
}

.event-small-controls a:hover {
    opacity: 1;
}

.alert-box.hide {
    display: none;
}

.event-statistics i {
    color: #2E2F41;
}

.events-filter dd,
.events-filter dt {
    margin-bottom: 0;
    font-size: 12px;
}

.events-filter {
    margin-top: 23px;
    margin-bottom: 0;
}

#event-image-upload  {
    position: absolute;
    margin-left: -9999px;
}

.event-image-wrapper img {
    cursor: pointer;
}

.event-image-wrapper.has-image i.event-upload-image-icon,
.event-image-wrapper.has-image #event-image-upload {
    display: none;
}

.event-image-wrapper:not(.has-image) img {
    display: none;
}

.event-image-wrapper.has-image img {
    cursor: auto;
}

.event-remove-uploaded-image-icon.hide {
    display: none;
}

.event-remove-uploaded-image-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    font-size: 20px;
    color: #2E2F41;
    cursor: pointer;
}

.event-image-wrapper.has-image .event-remove-uploaded-image-icon {
    display: block;
}

.small-event-image {
    border: 3px transparent;
    border-radius: 5px;
}

.create-event-image,
.edit-event-image {
    min-height: 150px;
    min-width: 150px;
}

.loader {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50%;
    margin-left: -37px;
    top: 50%;
    margin-top: -37px;
}

.top-bar-section ul li > a{
    font-size: 16px;
}

.contain-to-grid,
.top-bar,
.top-bar-section li a:not(.button),
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover{
    background: #2E2F41;
}

.top-bar-section li a:not(.button):hover {
    background: #00948A;
}

.sub-nav dt a:hover, .sub-nav li a:hover,
sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a{
    background: #415C71;
}

.event-small-text {
    color: black;
}

.view-event-content {
    margin-top: 30px;
}

.events-title {
    margin-top: 10px;
}

.events-title span {
    font-size: 2em;
    margin-left: 75px;
}

#edit-event-form{
    margin-top: 20px;
}

#create-event-form{
    margin-top: 75px;
}

.alerts {
    display: none;
}

textarea.editor {
    min-height: 200px;
}

.submit-event-editor,
.edit-event-editor {
    margin-top: 10px;
    margin-right: 10px;
}

.event-upload-image-icon {
    font-size: 180px;
    color: #2E2F41;
    cursor: pointer;
    border: #2E2F41 3px dashed;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.button.hide{
    display: none;
}

.event-editor-wrapper.active .event-description,
.event-editor-wrapper.active .edit-event-editor {
    display: none;
}

.event-editor-wrapper:not(.active) .submit-event-editor,
.event-editor-wrapper:not(.active) .editor {
    display: none;
}

[data-magellan-expedition] {
    left: auto !important;
    background: none;
}

.event-controls i {
    font-size: 30px;
    color: #2E2F41;
    opacity: 0.7;
    cursor: pointer;
}

.event-controls i:hover {
    opacity: 1;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
    background: #d54048;
}

.error label, .error label.error {
    color: #d54048;
}

div.divider {
    width: 1px;
    background: darkgray;
    height: 100px;
}

.columns.has-divider {
    padding: 0;
}

span.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.subscribers-progress-icon {
    float: left;
}

.subscribers-progress-bar {
    margin-left: 25px;
    margin-top: 5px;
    height: 20px;
    background: #AAA;
    padding: 0;
}

.subscribers-progress-bar .meter {
    background: #005A55;
    color: #ffffff;
    text-align: right;
}

.small-event-read-more {
    position: absolute;
    right: 0;
    top: 95px;
    color: #415C71;
    font-size: 0.85em;
}

.small-event-read-more:hover {
    color: #005A55;
    text-decoration: underline;
}