<li class="view-event-subscriber">
    <div class="row">
        <div class="columns small-4">
            <img class="right" src="http://placehold.it/45&text=user">
        </div>
        <div class="columns small-8 left view-event-subscriber-name">
            <span class="left">${subscriber.fullName()}</span>
        </div>
    </div>
</li>